<!--
<!DOCTYPE html>
<html>
<head>
    <title>Upload Sessions</title>
</head>
<body>
    <h1>Upload Session Records</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
    <a href="{% url 'session_summary' %}">Back to Session Summary</a>
</body>
</html>
-->

<!DOCTYPE html>
<html>

<head>
    <title>Upload Sessions</title>
    <style>
        body {
            background-color: #4C516D;
            color: #00008B;
        }
    </style>
</head>

<body>
    <h1>Upload Session Records</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
    <a href="{% url 'session_summary' %}">Back to Session Summary</a>
</body>

</html>
