<!DOCTYPE html>
<html>
<head>
    <title>Student List</title>
</head>
<body>
    <h2>Student List</h2>
    <table>
        <thead>
            <tr>
                <th>Roll No</th>
                <th>Name</th>
                <th>DOB</th>
                <th>Batch</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.roll_no }}</td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.dob }}</td>
                    <td>{{ student.batch }}</td>
                    <td>{{ student.year }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'admin_dashboard' %}">Back to Dashboard</a>
</body>
</html>
